body{
  margin: 0px;
  color: black;
  background: rgb(245,245,245);
}
h1{
  font-family: 'Open Sans', sans-serif;
  color: rgb(212,57,43);
}
p{
  font-size: 16px;
  line-height: 20px;
}
#my-header{
  text-align: center;
  background-image: url("http://lorempixel.com/1300/600/nightlife/");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.feature{
  padding: 50px;
  font-weight: 300px;
}

.feature img{
  padding: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

#my-footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#my-footer a {
  color: lightgrey;
}
#my-footer a:hover {
  color: white;
}